
body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    direction: rtl;
}
#calc {
    text-align: right;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    /*
    border: 2px solid #e9e9e9;
    margin: 10px;
    */
}
.form-wrapper {
}
.logo {
    max-width: 100%;
    display: inline-block;
    width: 350px;
}

.quiz-result-field.formio-hidden {
    border: none;
    padding: 0;
}

.quiz-result-field>div {
    display: block;
}


#calc .quiz-result-field .card {
    background: none!important;
    border: none;
    padding: 0;
    font-weight: bold;
}
#calc .quiz-result-field input, #calc .quiz-result-field input .formio-editor-read-only-content {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background: none!important;
    border: none;
    font-weight: bold;
    color: #856404;
}


#calc [ref="buttonMessage"] {
}



#calc .submit-success {
    display: none;
}

#calc .has-success {
    font-weight: bold;
}

.prevMonthDay:not(.flatpickr-disabled), .nextMonthDay:not(.flatpickr-disabled) {
    color:inherit!important;
}